body, h1, h2, ul, li, p, dd, dt, dl {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
}

ul {
    list-style: none;
}

body {
    background: #faf6ed;
    color: #222;
    -webkit-font-smoothing: antialiased;
}